.item-1{
	
	background-color: ivory;
	/*justify-content: center;*/
	margin: 10px;
	padding: 5px;
	/*align-items: flex-start;*/
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	
}
.item-2{
	
	background-color: ivory;
	justify-content: center;
	margin: 10px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	border-color: none;

}
.item-3{
	
	background-color: ivory;
	justify-content: center;
	margin: 10px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	border-color: none;
	
}
.item-4{
	background-color: ivory;
	justify-content: center;
	margin: 10px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 5px;
	position: center;
	border-style: solid;
	border-width: 0px;
	border-color: none;

}
.item-5{
	background-color: ivory;
	justify-content: center;
	margin: 10px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 5px;
	position: center;
	border-style: solid;
	border-width: 0px;
	border-color: none;

}
.item-6{
	/*background-color: #4A708B;
	justify-content: center;
	margin: 10px;
        width: 60px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 10px;
	position: center;
	border-style: solid;
	border-width: 2px 2px 4px;;
*/
	display: flex;
	flex-wrap: wrap;
        background-color: ivory;
	justify-content: center;
	margin: -3px;
        margin-right: 1160px;
        margin-bottom: 8px;
	padding: 18px;
	align-items: flex-start;
	border-radius: 3px;
	
	border-width: 2px 2px 5px;
	border-color: none;
	
}
.item-7{
	
        margin: -70px;
        margin-left: -47px; 
        margin-bottom: 50px;
	padding: 45px;
        
	
	
}
.item-8{
	
        /*margin: -70px;*/
        margin-left: 50px; 
        margin-bottom: 0px;
	
}
.item-9{
        background-color: ivory;
	justify-content: center;
	margin: 10px;
        width: 60px;
	padding: 5px;
	align-items: flex-start;
	border-radius: 5px;
	position: center;
	border-style: solid;
	border-width: 0px;
	
}
.item-10{
        background-color: ivory;
	justify-content: center;
	margin: -3px;
        margin-right: 1160px;
        margin-bottom: 8px;
	padding: 1px;
	align-items: flex-start;
	border-radius: 3px;
	border-style: outset;
	border-width: 2px 2px 5px;
	
}
.container{
	display: flex;
	height: 90px;
	justify-content: center;
	background-color: #ffffff10;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(12px);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: ivory;
	width: 100%;
	

}
.fundo-1{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
.fundo-2{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
.fundo-3{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
.fundo-4{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
.fundo-5{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
.fundo-6{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);

}
.fundo-7{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 0%, rgba(0,212,255,1) 100%);
}
a{
	font-family: fantasy;
	font-style: Impact;
	text-align: center;
	position: center;
	font-size: xx-large;

	color: #000000;
	font-weight: 300;
	
}
.lat{
	height: 1000px;
	background-color: #00afb9;
	border-radius: 10px;
}
.cabecalho{
 background-color: #00afb9;
 padding: 5px;
 margin-top: -10px;
 width: 80%;
 border-radius: 10px;
}
.container-2{
display: flex;
justify-content: center;
}
.box-1{
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	justify-content: center;
		margin: 10px;
                margin-left: -900;
		padding: 5px;
		align-items: flex-start;
		width: 20%;
		height: 260px;
		
                
}
.box-2{
	background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	justify-content: center;
		margin: 10px;
               
		padding: 5px;
		align-items: flex-start;
		width: 20%;
		height: 300px;
		border-radius: 10px;
		border: solid;
		border-color: none;
}
.box-3{
	background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	justify-content: center;
		margin: 10px;
		padding: 5px;
		align-items: flex-start;
		width: 20%;
		height: 300px;
		border-radius: 10px;
                border: solid;
}
.box-4{
	background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	justify-content: center;
		margin: 10px;
		padding: 5px;
		align-items: flex-start;
		width: 20%;
		height: 300px;
		border-radius: 10px;
                border: solid;
}
.box-5{
	background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
justify-content: center;
	margin: 5px;
	padding: 5px;
	align-items: flex-start;
	width: 10%;
	height: 300px;
	border: solid;
	border-radius: 10px;
	
	border-color:  rgb(0,212,255,1) 100%;

                
}

.paragrafo{
	font-family: Fantasy;
	font-style: Impact;
	color: ivory;
       
  
       
}
.rodape{

	height: 90px;
        margin-top: 85px;
	justify-content: center;
	background-color: #edf2f4;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 100%;
	
}
.img{
	margin-bottom: -30px;
	background-color: ivory;
	border-radius: 20px;
   
}
/*.info{
        justify-content: center;
        text-align: center;
        background-color: grey;
        border-style: solid;
        border-radius: 5px;
        border-color: lightgray;
        border-width: 4px;
}*/

.cadastro{
	background-color: ivory;
    border-color: lightgray;
    border-top: lightgray;
    border-left: lightgray;
    border-right: lightgray;
    /*border-style: solid;
    border-width: 2px;
    border-radius: 10px;*/
    border-width: 2px;
    width: 82%;
    height: 35px;
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 10px;
	}
	.botao{
		background: rgb(63,94,251);
		background: linear-gradient(90deg, rgba(63,174,252,1) 20%, rgba(279,50,117,1) 120%);
			border-radius: 210px;
			border: none;
			justify-content: center;
			text-align: center;
			align-items: center;
			margin-top: 25px; 
			margin-left:25px;
			width: 85%;
			height: 45px;
	}
	form{
		position: absolute;
		align-items: center;
		justify-content: center;
	}
	.cad{
		background-color: ivory;
        border-color: darkred;
        border-width: 5px;
        border-radius:  7px;
        color: darkred;
        width: 350px;
        height: 560px;
        margin-top: 50px;
        margin-left: 470px; 
	}
	.enviar{
		color: ivory;
        font-family: fantasy;
        margin-top: 10px;
   
    font-size: 20px;
    text-align: center;
	}
	.searchbar{
	width: 90%;
	height: 60px;
	background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		border-style: solid;
		border-width: 4px;
		border-radius: 20px;
		border-color: ivory;
	}
	.button{
		left: 100%;
		border-style: none;
		color: #00afb9;
	
	}
	.texto{
		font-family: verdana;
		font-style: impact;
		color: gray;
			font-size: 16px;
			/*margin-left: 25px;*/
			margin-left: -5px;
			margin-bottom: -15px;
			padding: 30px;
			
			
	   
	}

	